<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="capabilities">
      <section name="single" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="local" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="parallel" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>

    <sectionGroup name="browsers">
      <section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="firefox" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="safari" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ie" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>

    <sectionGroup name="environments">
      <section name="windows10" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="windows7" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>

    <sectionGroup name="mobileEnvironments">
      <section name="iPhone7" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="samsungGalaxyS8" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="user" value="oli181" />
    <add key="key" value="KTrC3Dz9WiqhyT4m8rFU" />
    <add key="server" value="hub-cloud.browserstack.com" />
  </appSettings>
  
  <capabilities>
    <single>
      <add key="build" value="nunit-browserstack" />
      <add key="name" value="single_test" />
      <add key="browserstack.debug" value="true" />
      <add key="os" value="OS X" />
      <add key="os_version" value="Mojave" />
      
    </single>
    <local>
      <add key="build" value="nunit-browserstack" />
      <add key="name" value="local_test" />
      <add key="browserstack.debug" value="true" />
      <add key="browserstack.local" value="true" />
    </local>
    <parallel>
      <add key="build" value="nunit-browserstack" />
      <add key="name" value="parallel_test" />
      <add key="browserstack.debug" value="true" />
    </parallel>
  </capabilities>
  
  <!-- see https://www.browserstack.com/automate/capabilities for capability keys / values -->

  <environments>
    <windows10>
      <add key="os" value="Windows" />
      <add key="os_version" value="10" />
    </windows10>
    <windows7>
      <add key="os" value="Windows" />
      <add key="os_version" value="7" />  
    </windows7>
  </environments>

  <mobileEnvironments>
    <iPhone7>
      <add key="device" value="iPhone 7" />
      <add key="os_version" value="10" />
      <add key="real_mobile" value="true" />
    </iPhone7>
    <samsungGalaxyS8>
      <add key="device" value="Samsung Galaxy S8" />
      <add key="os_version" value="7" />
      <add key="real_mobile" value="true" />
    </samsungGalaxyS8>
  </mobileEnvironments>

  <browsers>
    <chrome>
      <add key="browser" value="chrome" />
      <add key="browser_version" value="72.0" />
    </chrome>
    <safari>
      <add key="browser" value="safari" />
    </safari>
    <ie>
      <add key="browser" value="ie" />
    </ie>
  </browsers>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
