<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="capabilities">
      <section name="single" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="local" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="parallel" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>

    <sectionGroup name="environments">
      <section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="firefox" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="safari" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="edge" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="user" value="BROWSERSTACK_USERNAME" />
    <add key="key" value="BROWSERSTACK_ACCESS_KEY" />
    <add key="server" value="hub.browserstack.com" />
  </appSettings>
  
  <capabilities>
    <single>
      <add key="buildName" value="browserstack-build-1" />
      <add key="sessionName" value="BStack single nunit" />
      <add key="os" value="OS X" />
      <add key="osVersion" value="Sierra" />
      <add key="seleniumVersion" value="4.0.0" />
      <add key="local" value="false" />
      <add key="source" value="nunit:sample-master:v1.0" />
    </single>
    <local>
      <add key="buildName" value="browserstack-build-1" />
      <add key="sessionName" value="BStack local nunit" />
      <add key="debug" value="true" />
      <add key="local" value="true" />
      <add key="source" value="nunit:sample-master:v1.0" />
    </local>
    <parallel>
      <add key="buildName" value="browserstack-build-1" />
      <add key="sessionName" value="BStack parallel nunit" />
      <add key="debug" value="true" />
      <add key="local" value="false" />
      <add key="source" value="nunit:sample-master:v1.0" />
    </parallel>
  </capabilities>

  <environments>
    <chrome>
      <add key="browser" value="chrome" />  
    </chrome>
    <firefox>
      <add key="browser" value="firefox" />  
    </firefox>
    <safari>
      <add key="browser" value="safari" />  
    </safari>
    <edge>
      <add key="browser" value="edge" />  
    </edge>
  </environments>
</configuration>
